%section.container
  %h1
    Hi, I'm Brett
    %span.hidden Huneycutt
  %p
    Founder
    %a{href: "http://1000memories.com"} 1000memories
    (
    %a{href: "#"} acquired
    by
    = succeed ")." do
      %a{href: "http://ancestry.com"} Ancestry.com
    = succeed "." do
      %a{href: "http://borderfilmproject.com"} Border Film Project.
    %a{href: "http://mckinsey.com"} McKinsey
    in Mexico City. Rhodes Scholar. Learning to stand on my head.
  %h2 Find me online
  %ul.find-me
    %li.twitter
      %a{href: "https://twitter.com/bretthuneycutt"} Twitter
    %li.linkedin
      %a{href: "http://linkedin.com/in/bretthuneycutt"} LinkedIn
    %li.github
      %a{href: "https://github.com/bretthuneycutt"} Github
    %li.medium
      %a{href: "https://medium.com/@bretthuneycutt"} Medium
    %li.email
      %a{href: "mailto:brett.huneycutt@gmail.com"} Email
  %h2 Products
  %ul.products
    %li.story-view
      %a{href: "http://story.sharing.ancestry.com/people/4769?h=9f9a2b"} Story View
    %li.shoebox
      %a{href: "http://shoebox.ancestry.com"} Shoebox
    %li.1000memories
      %a{href: "http://archive.1000memories.com/people/2-sal-debruno/memories/"} 1000memories
    %li.oportunidades
      %a{href: "http://www.gatesfoundation.org/Media-Center/Press-Releases/2009/09/Diconsa-to-Offer-Financial-Services-in-Rural-Mexico"} Oportunidades
    %li.border-film-project
      %a{href: "http://borderfilmproject.com"} Border Film Project
    %li.fantasy-rocket
      %a{href: "http://fantasyrocket.com"} Fantasy Rocket
  %h2 Interests
  %ul.interests
    %li.travel
      %a{href: "/places"} Travel
    %li.runnng Running
    %li.sharing-economy
      %a{href: "https://medium.com/on-startups/eb52dd701c5b"} Sharing economy
    %li.phoenix-suns
      %a{href: "http://phoenixsuns.com"} Phoenix Suns
    %li.yoga
      %a{href: "http://www.ashiyana-yoga-goa.com/index.shtml"} Yoga & meditation
    %li.adoption
      %a{href: "https://medium.com/p/74e6e93f4a4c"} Adoption
    %li.migration
      %a{href: "brett-huneycutt-migration-remittances-and-microenterprises-in-el-salvador.pdf"} Migration and remittances
